
body {
  background-color: black;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

h1{
  font-family: 'Bellefair', serif;
  font-size: 80px;
  color: #FFFFFF;
  font-weight: normal;
  text-transform: uppercase;
}
h2{
  font-family: 'Bellefair', serif;
  font-size: 56px;
  color: #FFFFFF;
  font-weight: normal;
  text-transform: uppercase;
}
h3{
  font-family: 'Bellefair', serif;
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0.5rem 0 1rem 0;
}
h4{
  font-family: 'Bellefair', serif;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.5;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}
h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  font-weight: normal;
  text-transform: uppercase;
}
nav{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

hr{
  height: 1px;
  width: 87.2vw;
  border-style: none;
  background-color: #383B4B;
}
ul{
    padding-left: 0;
}

.home{
  background-image:url("../assets/home/background-home-mobile.jpg");
}

.destination{
  background-image:url("../assets/destination/background-destination-mobile.jpg");
  height: 850px;
}

.crew{
  background-image:url("../assets/crew/background-crew-mobile.jpg");
  height: 710px;
}

.technology{
  background-image: url("../assets/technology/background-technology-mobile.jpg");
  height: 710px;
}

.navbar-principal{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: right;
  transition: 0.5s;
  opacity: 0;
  user-select: none;
  color: #FFFFFF;
  height: 100vh;
  width: 70.4vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 3;
}

.navbar-logo{
  padding-left: 1vw;
}

.navbar-bar{
  display: none;
}

.navbar-div{
  height: 96px;
  display: flex;
  align-items: center;
}

.navbar{
  color : #FFFFFF;
  text-decoration: none;
}
.navbar span{
  font-weight: bold;
}
.navbar:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: #979797;
}

.checker{
  width: 26px;
  height: 23px;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 5;
}

.close {
  z-index: 4;
  opacity: 0;
}

.checker, .menu-wrap img{
  position: absolute;
  top: 33px;
  right: 20px;
}

.menu-wrap{
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 1;
}
.navbar-ul{
  padding-top: 118px;
}
.navbar-ul li{
  list-style-type: none;
  text-align: left;
  padding: 0 1vw 35px 8vw;
}

.checker:checked ~ .navbar-principal{
  transform: scale(1);
  transform-origin: right;
  transition: 0.5s;
  opacity: 1;
  user-select: auto;
}
.checker:checked ~ .close{
  opacity: 1;
}
.checker:checked ~ .open{
  opacity: 0;
}

.onsite{
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}

.intro{
  margin: 0.95rem 1.3rem 1.3rem 1.3rem;
}

.body-text{
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #D0D6F9;
}

.btn{
  position: absolute;
  right: calc(50% - 75px);
  background: white;
  margin-top: 45px;
  height: 150px;
  width: 150px;
  color: #0B0D17;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-family: 'Bellefair', serif;
  font-size: 20px;
  z-index: 0;
}

#canvas{
  position: absolute;
  right: calc(50% - 120px);
  transform: scale(0.625, 0.625);
  transform-origin: center;
  transition: 1s;
  width: 240px;
  height: 240px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
}

.btn:hover + #canvas{
  transform: scale(1, 1);
  transform-origin: center;
  transition: 2s;
}

.planet-text{
  padding: 1rem 0 0 0;
  margin: 0;
}
.planet-text.body-text{
  padding: 0 6.4vw 1.4rem 6.4vw;
}
.subtittle{
  color: #FFFFFF;
  margin: 0 0 30px 0;
}

.number{
  color: #484851;
  font-weight: bold;
  margin-right: 18px;
}

.ul-planet li{
  display: inline;
}
.navbar-planet{
  color : #D0D6F9;
  font-size: 14px;
  text-decoration: none;
  padding: 0 3.6vw 0 3.6vw;
}

.onsite-planet{
  color : #FFFFFF;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}

.navbar-planet:hover{
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
  text-decoration-color: #979797;
}

.planet-div-2 img{
  height: 170px;
  width: 170px;
}

.subheading1{
  font-family: 'Bellefair', serif;
  font-size: 28px;
  color: #FFFFFF;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.footer{
  padding: 1.5rem 0 0 0;
}

.subheading2{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: #D0D6F9;
  margin: 0 0 1rem 0;
  font-weight: normal;
  text-transform: uppercase;
}

.crew-div-1 img{
  height: 223px;

}

.slider form{
  display: inline;
}
.slider-off{
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 100%;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0;
  opacity: 0.17;
  cursor: pointer;
}

#on{
  opacity: 1;
  cursor: default;
}

.slider-off:hover{
  opacity: 0.5;
}

.crew-div-2 ul{
  margin: 2rem 0;

}

.crew-div-1 hr{
  margin-top: -4px;
}

.slider-off-2{
  height: 40px;
  width: 40px;
  border: solid;
  font-family: 'Bellefair', serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 100%;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0;
  background: none;
  cursor: pointer;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.25);
}
.slider-off-2#on{
  border: none;
  color: #0B0D17;
  background: #FFFFFF;
}

.slider-off-2:hover{
  border-color: #FFFFFF;
}
.tech-img{
  width: 100vw;
}

@media(min-width: 376px){
  .home{
    background-image:url("../assets/home/background-home-tablet.jpg");
    height: 1024px;
  }

  .destination{
    background-image:url("../assets/destination/background-destination-tablet.jpg");
    height: 1024px;
  }

  .crew{
    background-image:url("../assets/crew/background-crew-tablet.jpg");
    height: 1024px;
  }

  .technology{
    background-image: url("../assets/technology/background-technology-tablet.jpg");
    height: 1024px;
  }
}

@media(min-width: 560px){
  nav{
    font-size: 14px;
  }

  h5{
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  h4{
    font-size: 24px;
  }

  h3{
    font-size: 40px;
  }

  h2{
    font-size: 80px;
  }

  h1{
    font-size: 150px;
  }

  hr{
    width:74.61vw;
  }
  .checker,.open,.close{
    display: none;
  }

  .navbar-ul li{
    display: inline;
    padding: 0;
  }

  .navbar-ul{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }

  .menu-wrap{
    position: absolute;
  }

  .navbar-principal{
    transform: none;
    user-select: auto;
    height: 96px;
    opacity: 1;
    border-radius: 8px;
  }

  .planet-div-1{
    text-align: left;
  }

  .text-div{
    padding: 5.6rem 21vw 0 21vw;
  }

  .intro{
    margin-left: 0;
    margin-right: 0;
  }

  .body-text{
    font-size: 16px;
    line-height: 28px;
  }

  .btn{
    height: 242px;
    width: 242px;
    margin-top: 39px;
    right: calc(50% - 121px);
    font-size: 32px;
    letter-spacing: 2px;
  }

  #canvas{
    right: calc(50% - 160px);
    height: 320px;
    width: 320px;
  }

  .button-div{
    padding-top: 5.4rem;
  }

  .navbar:hover{
    text-underline-offset: 37px;
  }
  .onsite{
    text-underline-offset: 37px;
  }
  .footer-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 12.63vw 0 12.63vw;
  }

  .planet-div-1{
    padding: 2.5rem 2.40rem 2rem 2.40rem;
  }

  .planet-div-2 img{
    height: 300px;
    width: 300px;
  }

  .navbar-planet{
    font-size: 16px;
  }

  .text-div-destination{
    padding: 2rem 6.38vw;
  }

  .navbar-planet{
    padding: 0 1.8vw;
  }

  .planet-text{
    padding: 0;
  }

  .article{
    padding-top: 2rem;
  }

  .onsite-planet{
    text-underline-offset:12px;
  }

  .planet-text.body-text{
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }
  .crew-main{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    box-sizing: border-box;
    max-height: 928px;
  }

  .crew-main .planet-div-1{
    grid-row: 1;
  }

  .crew-main .article{
    grid-row: 2;
  }

  .crew-main .crew-div-2{
    grid-row: 3;
  }
  .crew-div-1{
    overflow: hidden;
    grid-row: 4;
  }
  .crew-div-1 hr{
    display: none;
  }

  .crew-div-1 img.commander{
    overflow: hidden;
    height: 572px;
    width: 456.37px;
  }

  .crew-div-1 img{
    height: 532px;
    width: auto
  }

  .crew-main .subtittle{
    margin-bottom: 0;
  }

  .crew-main .article .body-text, .technology .article .body-text{
    padding: 0 20.18vw 0 20.18vw;
  }

  .crew-div-2 ul{
    margin: 3.1rem 0;
  }

  .slider-off-2{
    height: 60px;
    width: 60px;
    font-size: 24px;
  }

  .subheading2{
    font-size: 16px;
  }
  .technology .article{
    padding: 0;
  }
}

@media(min-width: 769px){
  .home{
    background-image:url("../assets/home/background-home-desktop.jpg");
  }
  .destination{
    background-image:url("../assets/destination/background-destination-desktop.jpg");
  }
  .crew{
    background-image:url("../assets/crew/background-crew-desktop.jpg");
  }
}


@media(min-width: 1015px){
  body{
    max-height: 900px;
  }
  .home{
    background-image:url("../assets/home/background-home-desktop.jpg");
  }

  .destination{
    background-image:url("../assets/destination/background-destination-desktop.jpg");
  }
  .crew{
    background-image:url("../assets/crew/background-crew-desktop.jpg");
  }

  .main-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text-div{
    grid-column: 1;
    padding: 0;
    text-align: left;
    padding-left: 12.36vw;
    padding-top: 15.625rem;
  }
  .navbar-div{
    justify-content: flex-end;
    padding-top: 3rem;
  }
  .menu-wrap{
    position: relative;
  }
  .navbar-principal{
    position: relative;
    width: 57.63vw;
    justify-content: center;
  }
  .navbar{
    font-size: 16px;
    display: inline-block;
  }

  .navbar-ul{
    width: 37.64vw;
    justify-content: space-between;
  }
  .navbar-bar{
    position: relative;
    margin: 0;
    left: 4.444444vw;
    display: inline-block;
    width: 32.85vw;
    z-index: 4
  }
  .button-div{
    grid-column: 2;
  }

  .btn{
    position: absolute;
    margin: 0;
    right: 165px;
    bottom: -16px;
    height: 274px;
    width: 274px;
  }

  #canvas{
    position: absolute;
    right: 77px;
    bottom: -104px;
    width: 450px;
    height: 450px;
  }
  .intro.body-text{
    margin-right: 5.75rem;
  }
}
